body {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

.pageWrapper {
  width: 80%;
  box-shadow: 0 0 .5rem black;
  margin: 5% 10%;
  padding: 0;
  form {
    width: 90%;
    margin: 0 5%;
    height: 20vh;
    padding: 6% 0;
    input {
      width: 100%;
      padding: .3%;
      border: none;
      font-size: 1.5rem;
      margin: 1% 0;
      border: .05rem solid #cbc8c8;
      border-radius: .2rem;
    }
  }
}

#submit {
  background-color: #238a34;
  color: white;
  width: 20%;
  margin: 0 40%;
  &:hover {
    background-color: #1f612a;
    cursor: pointer;
  }
}

h1 {
  text-align: center;;
}

.itemList {
  width: 80%;
  margin: 1% 10%;
  padding: 0;
  li {
    width: 100%;
    margin: 1% 0;
    padding: .2%;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #606060;
    &:hover {
      border: .03rem solid #b5b5b5;
    }
    i {
      color: #b32d2d;
      font-size: .9rem;
      vertical-align: middle;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
